---
import Layout from '../layouts/Layout.astro';
import GalaxyMV from '../sections/mv/components/GalaxyMV/GalaxyMV';
import ColoredBgSection from '../sections/coloredBgSection/components/ColoredBgSection/ColoredBgSection.astro';
---

<Layout title="Animated MV">
  <main>
    <GalaxyMV client:load />
    <ColoredBgSection/>
  </main>
</Layout>
