---
import Layout from '../layouts/Layout.astro';
import GalaxyMV from '../sections/mv/components/GalaxyMV/GalaxyMV';
import AboutMe from '../sections/about-me/components/AboutMe.astro';
import ColoredMessages from '../sections/colored-messages/components/ColoredMessages.astro';
---

<Layout title="Animated MV">
  <main>
    <GalaxyMV client:load />
    <ColoredMessages/>
    <AboutMe />
  </main>
</Layout>
