---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<h2 class="section-title">{title}</h2>

<style>
  .section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
</style>
