---
import SectionInner from "../../../components/SectionInner.astro";
import SectionTitle from "../../../components/SectionTitle.astro";
---

<section>
  <SectionInner>
    <SectionTitle title="Portfolios" />
  </SectionInner>
</section>
